<section
  class="contact"
  id="contact">
  <div class="container">
    <div class="contact__inner">
      <div class="contact__left">
        <h2 class="contact__heading">
          Let's work
          <br />
          together
        </h2>
        <p class="contact__text">
          Have a project in mind? I'd love to hear about it. Send me a message and let's make something great.
        </p>
      </div>
      <div class="contact__socials">
        <a
          class="container-info"
          href="https://gitlab.com/angel95"
          target="_blank">
          <img
            src="assets/contact/gitlab.svg"
            alt="" />
          <div>angel95</div>
        </a>
        <a
          class="container-info"
          href="https://github.com/anhelldev"
          target="_blank">
          <img
            src="assets/contact/github.png"
            alt="" />
          <div>anhelldev</div>
        </a>
        <a
          class="container-info"
          href="https://www.linkedin.com/in/angel-larreal-9a7973117/"
          target="_blank">
          <img
            src="assets/contact/linkedin.svg"
            alt="" />
          <div>Angel Larreal</div>
        </a>
        <a
          class="container-info"
          href="mailto:angellarreal95@gmail.com">
          <img
            src="assets/contact/gmail.png"
            alt="" />
          <div>angellarreal95@gmail.com</div>
        </a>
        <a
          class="container-info"
          href="https://www.upwork.com/freelancers/~014f627df38673d3e2"
          target="_blank">
          <img
            src="assets/contact/upwork.svg"
            alt="" />
          <div>Angel Larreal</div>
        </a>

        <a
          href="assets/contact/Angel Larreal Software Developer.pdf"
          download="">
          <img
            class="download-chevron"
            src="assets/contact/cv.webp"
            alt="" />
          <span>Download CV</span>
        </a>
      </div>
    </div>
  </div>
</section>
